{% extends "jobs/main.html" %}
{% block content %}
    <div class="password-reset-confirm mt-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <input type="password" name="password" id="password" class="form-control mt-3" placeholder="Enter new password" required>
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}