{% extends 'jobs/main.html' %}
{% load custom_filters %}

{% block content %}
<main>
    <div class="container mt-4">
        <a href="{% url 'dashboard' %}" class="text-decoration-none">  
            <button class="btn btn-outline-dark"><i class="fas fa-backward"></i> Back</button>
        </a> 
        <h2 class="mt-4">Reviews for {{ employer.company_name }}</h2>    

        {% if user.user_type == 'Applicant' %}
        <h3 class="mt-2">Leave a Review</h3>
        <form method="POST" class="border p-4 rounded shadow-sm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="comment" class="form-label">Your Review:</label>
                <textarea name="comment" class="form-control" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Rating:</label>
                <div class="star-rating">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <input type="hidden" name="rating" id="rating" value="3">
                <p id="star-message">Rating: Good</p>
            </div>
            <button type="submit" name="submit_review" class="btn btn-primary main-btn">Submit Review <i class="far fa-paper-plane"></i></button>
        </form>
        {% endif %}

        <div class="mt-1">
            <h4 class="mb-3">All Reviews</h4>

        {% if comments %}
            {% for comment in comments %}
            <div class="border bg-white p-3 mb-3 rounded shadow-sm">

                <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}" class="mt-2 mb-4">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger" name="delete_review">
                        🗑️ Delete Review
                    </button>
                    <input type="hidden" name="review_id" value="{{ comment.id }}">
                </form>
        

                <div class="d-flex gap-2 m-0">
                    <img src="{{ comment.applicant.profile.image.url }}" alt="{{ comment.applicant.username }}" class="profile-img" />
                    <div>
                        <p class="m-0">
                            <span class="fs-5"> @{{ comment.applicant.username }}</span>
                            <small class="text-secondary">{{ comment.created_at|timesince_without_hrs }} ago</small>
                        </p>
                        <p class="m-0"> 
                            {% for i in range_of_values %}
                                {% if i <= comment.rate_review %}
                                    <span class="star-filled">&#9733;</span> 
                                {% else %}
                                    <span class="star-empty">&#9734;</span>  
                                {% endif %}
                            {% endfor %}
                            <span id="star-message-{{ comment.id }}">
                                {{comment.rate_review|rating_smiley}}
                            </span>
                        </p>
                        <p class="m-0 text-secondary">{{ comment.content }}</p>
                    </div>
                </div>

                <div class="d-flex gap-2 flex-wrap mt-2">
                    <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-primary" name="like_review">
                            <i class="fas fa-thumbs-up"></i>  ({{ comment.likes }})
                        </button>
                        <input type="hidden" name="review_id" value="{{ comment.id }}">
                    </form>

                    <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}">
                        {% csrf_token %}
                        <button type="submit" name="dislike_review" class="btn btn-sm btn-outline-danger">
                            <i class="fas fa-thumbs-down"></i>  ({{ comment.dislikes }})
                        </button>
                        <input type="hidden" name="review_id" value="{{ comment.id }}">
                    </form>
                    <button type="button" class="btn btn-sm btn-outline-secondary rounded reply-btn" data-id="{{ comment.id }}">Reply</button>

                    {% if comment.applicant == user %}
                    <button type="button" class="btn btn-sm btn-outline-dark edit-review-btn" data-id="{{ comment.id }}">
                        <i class="fas fa-edit"></i>
                    </button>
                    {% endif %}
                </div>

                <form method="POST" class="mt-3 d-none" id="reply-form-{{ comment.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <div class="mb-3">
                        <label for="reply" class="form-label">Your Reply:</label>
                        <textarea name="reply" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-danger text-decoration-none cancel-reply" data-id="{{ comment.id }}">Cancel</button>
                    <button type="submit" name="reply_comment" class="btn btn-sm btn-outline-secondary">Comment</button>
                </form>

                <form method="POST" class="mt-3 d-none" id="edit-form-{{ comment.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" value="{{ comment.id }}">
                    <div class="mb-3">
                        <label for="content" class="form-label">Edit Your Review:</label>
                        <textarea name="content" class="form-control" rows="4">{{ comment.content }}</textarea>
                    </div>
                    <button type="submit" name="edit_review" class="btn btn-sm btn-outline-success">Save Changes</button>
                    <button type="button" class="btn btn-sm btn-outline-danger cancel-edit" data-id="{{ comment.id }}">Cancel</button>
                </form>

                <div class="ms-sm-4">
                    {% for reply in replies %}
                        {% if reply.comment == comment %}
                            <div class="mt-3 p-3 border rounded shadow-sm bg-light">
                                <div class="d-flex gap-2 m-0">
                                    {% if reply.user.user_type == 'Applicant' %}   
                                    <img src="{{ reply.user.profile.image.url }}" alt="{{ reply.user.username }}" class="profile-img" />
                                    {% else %}
                                    <img src="{{ reply.user.employer.employer_image.url }}" alt="{{ reply.user.username }}" class="profile-img" />
                                    {% endif %}
                                    <div>
                                        <p class="m-0">
                                            <span class="fs-5"> @{{ reply.user.username }}</span>
                                            <small class="text-secondary">{{ reply.created_at|timesince_without_hrs }} ago</small>
                                        </p>
                                        <p class="m-0">
                                            {% if reply.parent %}
                                              <span class="text-decoration-underline text-primary">@{{ reply.parent.user.username }}</span>
                                              <span class="text-secondary">{{ reply.content }}</span>
                                            {% else %}
                                               <span class="text-secondary">{{ reply.content }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-end gap-2 flex-wrap mt-2">
                                  <div class="d-flex gap-2"> 
                                    <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-primary" name="like_reply">
                                            <i class="fas fa-thumbs-up"></i> ({{ reply.likes }})
                                        </button>
                                        <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                    </form>
                                  
                                    <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}">
                                        {% csrf_token %}
                                        <button type="submit" name="dislike_reply" class="btn btn-sm btn-outline-danger">
                                            <i class="fas fa-thumbs-down"></i> ({{ reply.dislikes }})
                                        </button>
                                        <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                    </form>
                                    <button type="button" class="btn btn-sm btn-outline-secondary reply-btn" data-id="nested-{{ reply.id }}">Reply</button>
                                </div> 
                                  <div class="d-flex gap-2">  
                                    {% if reply.user == user %}
                                    <button type="button" class="btn btn-sm btn-outline-dark edit-reply-btn" data-id="{{ reply.id }}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    
                                    <form method="POST" action="{% url 'company-reviews' employer_id=employer.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger" name="delete_reply">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                    </form>
                                    {% endif %}
                                </div> 
                                </div>

                                <form method="POST" class="mt-3 d-none nested-reply-form-{{ reply.id }}" id="reply-form-nested-{{ reply.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <input type="hidden" name="parent_reply_id" value="{{ reply.id }}">
                                    <div class="mb-3">
                                        <label for="reply" class="form-label">Your Reply:</label>
                                        <textarea name="reply" class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-outline-danger text-decoration-none cancel-reply" data-id="nested-{{ reply.id }}">Cancel</button>
                                    <button type="submit" name="reply_comment" class="btn btn-sm btn-outline-secondary">Comment</button>
                                </form>

                                <form method="POST" class="mt-3 d-none" id="edit-nested-reply-form-{{ reply.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="nested_reply_id" value="{{ reply.id }}">
                                    <div class="mb-3">
                                        <label for="content" class="form-label">Edit Your Nested Reply:</label>
                                        <textarea name="content" class="form-control" rows="3">{{ reply.content }}</textarea>
                                    </div>
                                    <button type="submit" name="edit_nested_reply" class="btn btn-sm btn-outline-success">Save Changes</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger cancel-edit" data-id="nested-{{ reply.id }}">Cancel</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            No reviews yet.
        {% endif %}    
        </div>
    </div> 
</main>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const replyBtns = document.querySelectorAll('.reply-btn');
        const cancelBtns = document.querySelectorAll('.cancel-reply');
        const editReviewBtns = document.querySelectorAll('.edit-review-btn');
        const cancelEditBtns = document.querySelectorAll('.cancel-edit');
        const editReplyBtns = document.querySelectorAll('.edit-reply-btn');
        const editNestedReplyBtns = document.querySelectorAll('.edit-nested-reply-btn');
        const stars = document.querySelectorAll('.star');
        const ratingInput = document.getElementById('rating');
        const starMessage = document.getElementById('star-message');
        const starMessages = ["Bad", "Poor", "Good", "Average", "Excellent"];
        
        replyBtns.forEach((btn) => {
            btn.addEventListener('click', function () {
                let replyFormId = this.getAttribute('data-id');
                let form = document.getElementById('reply-form-' + replyFormId);
                form.classList.toggle('d-none');
            });
        });

        editReplyBtns.forEach((btn) => {
            btn.addEventListener('click', function () {
                let replyId = this.getAttribute('data-id');
                let editReplyForm = document.getElementById('edit-nested-reply-form-' + replyId);
                editReplyForm.classList.toggle('d-none');
            });
        });

        cancelBtns.forEach((btn) => {
            btn.addEventListener('click', function () {
                let form = this.closest('form');
                form.classList.add('d-none');
            });
        });

        editReviewBtns.forEach((btn) => {
            btn.addEventListener('click', function () {
                let commentId = this.getAttribute('data-id');
                let editForm = document.getElementById('edit-form-' + commentId);
                editForm.classList.toggle('d-none');
            });
        });

        cancelEditBtns.forEach((btn) => {
            btn.addEventListener('click', function () {
                let form = this.closest('form');
                form.classList.add('d-none');
            });
        });

        stars.forEach((star, index) => {
            star.addEventListener('click', () => {
                const ratingValue = index + 1; 
                ratingInput.value = ratingValue;
                stars.forEach((s, i) => {
                    s.style.color = i < ratingValue ? 'gold' : 'gray';
                });
                starMessage.textContent = `Rating: ${starMessages[ratingValue - 1]}`;
            });
        });


    });    
</script>
{% endblock %}
