{% extends 'jobs/main.html' %}

{% block content %}
<main>
    <div class="filter-sidebar mt-2">
        <aside class="filter-container">
            <div class="filter-close">
                <i class="fas fa-times"></i>
            </div>
            <header class="filter-sidebar-header">
                <h3 class="filter-sidebar-text">All Filters</h3>
            </header>
            <article class="workmode">
                <p class="fs-4 mt-3 fw-bold">Work Mode</p>
                <form method="GET" action="{% url 'dashboard' %}" id="workModeSubmit">
                    <select class="form-select" aria-label="Default select example" name="work_mode">
                        <option selected value="">Select Work Mode</option>
                        <option value="WFO" {% if work_mode_query == 'WFO' %}selected{% endif %}>Work from office</option>
                        <option value="hybrid" {% if work_mode_query == 'hybrid' %}selected{% endif %}>Hybrid</option>
                        <option value="remote" {% if work_mode_query == 'remote' %}selected{% endif %}>Remote</option>
                    </select>
                </form>
            </article>
            <article class="salary">
                <p class="fs-4 fw-bold mt-2">Salary</p>
               <form action="{% url 'dashboard' %}" method="GET">
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="0-3" {% if salary_range_query == '0-3' %} checked {% endif %} id="salaryRange1" > 
                    <label class="form-check-label" for="defaultCheck1">0-3 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="3-6" {% if salary_range_query == '3-6' %} checked {% endif %} id="salaryRange2">
                    <label class="form-check-label" for="salaryRange2">3-6 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="6-10" {% if salary_range_query == '6-10' %} checked {% endif %} id="salaryRange3">
                    <label class="form-check-label" for="salaryRange3">6-10 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="10-15" {% if salary_range_query == '10-15' %} checked {% endif %} id="salaryRange4">
                    <label class="form-check-label" for="salaryRange4">10-15 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="15-20" {% if salary_range_query == '15-20' %} checked {% endif %} id="salaryRange5">
                    <label class="form-check-label" for="salaryRange5">15-20 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range[]" type="checkbox" value="20+" {% if salary_range_query == '20+' %} checked {% endif %} id="salaryRange6">
                    <label class="form-check-label" for="salaryRange6">20+ Lakhs</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Apply</button>
            </form>
            </article>
            <article class="location">
                <p class="fs-4 fw-bold mt-2">Location</p>
            <form method="GET" action="{% url 'dashboard' %}">  
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="all" {% if location_query == 'all' %} checked {% endif %} id="location1">
                    <label class="form-check-label" for="location1">All</label>
                </div>  
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="chennai" {% if location_query == 'chennai' %} checked {% endif %} id="location2">
                    <label class="form-check-label" for="location2">Chennai</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="bengaluru" {% if location_query == 'bengaluru' %} checked {% endif %} id="location3">
                    <label class="form-check-label" for="location3">Bengaluru</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="coimbatore" {% if location_query == 'coimbatore' %} checked {% endif %} id="location4">
                    <label class="form-check-label" for="location4">Coimbatore</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="madurai" {% if location_query == 'madurai' %} checked {% endif %} id="location5">
                    <label class="form-check-label" for="location5">Madurai</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="delhi" {% if location_query == 'delhi' %} checked {% endif %} id="location6">
                    <label class="form-check-label" for="location6">Delhi</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location[]" type="checkbox" value="hyderabad" {% if location_query == 'hyderabad' %} checked {% endif %} id="location7">
                    <label class="form-check-label" for="location7">Hyderabad</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Apply</button>
            </form>  
            </article>
            <article class="role">
                <p class="fs-4 fw-bold mt-2">Role</p>
                <form action="{% url 'dashboard' %}" method="get" id="roleSubmit">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Software Development"  {% if role_query == 'Software Development' %} checked {% endif %} name="role" id="role1">
                    <label class="form-check-label" for="role1">Software Development</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Software Tester" name="role"  {% if role_query == 'Software Tester' %} checked {% endif %} id="role2">
                    <label class="form-check-label" for="role2">Software Tester</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Devops" name="role"  {% if role_query == 'Devops' %} checked {% endif %} id="role3">
                    <label class="form-check-label" for="role3">Devops</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Machine Learning" name="role"  {% if role_query == 'Machine Learning' %} checked {% endif %} id="role4">
                    <label class="form-check-label" for="role4">Machine Learning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Business Development"  {% if role_query == 'Business Development' %} checked {% endif %} name="role" id="role5">
                    <label class="form-check-label" for="role5">Business Development</label>
                </div>
            </form>
            </article>
            <article class="experience">
                <p class="fs-4 mt-2 fw-bold">Experience</p>
              <form method="GET" action="{% url 'dashboard' %}" id="experienceSubmit">  
                <div class="form-group">
                    <input type="range" class="form-range" id="experienceRange" name="experience" min="0" max="20" value="{{ experience_query|default:'5' }}">
                    <div class="d-flex justify-content-between">
                        <span>0</span>
                        <span>20</span>
                    </div>
                    <p class="mt-2">Experience: <span id="experienceValue">{{ experience_query|default:'5' }}</span> years</p>
                </div>
            </form>  
            </article>
            <article class="freshness pb-5">
                <p class="fs-4 mt-2 fw-bold">Freshness</p>
             <form action="{% url 'dashboard' %}" method="get" id="freshnessSubmit">   
                <div class="form-group">
                    <label for="timeRange" class="form-label">Select Time Range</label>
                    <select class="form-select" id="timeRange" name="time_range">
                        <option value="0" {% if time_range_query == '0' %} selected {% endif %}>Freshness</option>
                        <option value="1" {% if time_range_query == '1' %} selected {% endif %}>Last 1 Day</option>
                        <option value="3" {% if time_range_query == '3' %} selected {% endif %}>Last 3 Days</option>
                        <option value="7" {% if time_range_query == '7' %} selected {% endif %}>Last 7 Days</option>
                        <option value="15" {% if time_range_query == '15' %} selected {% endif %}>Last 15 Days</option>
                        <option value="30" {% if time_range_query == '30' %} selected {% endif %}>Last 30 Days</option>
                    </select>
                </div>
            </form>     
            </article>
        </aside>
    </div>

    <div class="filter-nav-btn mt-4 d-flex gap-2 flex-wrap 
    {% if user.user_type == 'Recruiter' %}
        justify-content-center align-items-center
    {% else %}
        justify-content-end
    {% endif %}">
        <button class="btn btn-primary" id="filter-open">
            <i class="fas fa-filter"></i>
        </button>
      {% if user.user_type == 'Recruiter' %}  
            <a href="{% url 'create_job' %}">
                <button class="btn btn-primary">Create Job</button>
            </a>
      {% endif %} 
    </div>

    <div class="search-container mt-3">
     <form method="GET" action="{% url 'dashboard' %}">   
        <div class="input-group mb-3">
            <span class="input-group-text" id="search">🔍</span>
            <input type="text" class="form-control" name="search" value="" placeholder="Enter skills/title/location" />
        </div>
    </form>  
    </div>

    <div class="job-container mt-3 mb-3">
        {% for result in data %}
      <div class="m-2 card p-3">  
        <a href="{% url 'job_details' id=result.id %}" class="text-decoration-none text-dark">
            <header class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="fw-bold fs-3">{{ result.employer.company_name }}</h3>
                    <p class="fs-5">{{ result.title }}</p>
                </div>
                <img src="{{ result.employer.company_logo.url }}" alt="{{ employer.company_name }}"
                    class="company-logo" />
            </header>
            <article class="d-flex gap-4 flex-wrap">
                <div>
                    <span class="ml-2"><i class="fas fa-suitcase"></i></span>
                    <span>{{ result.experience }} yrs</span>
                </div>
                <div>
                    <span class="ml-2"><i class="fas fa-rupee-sign"></i></span>
                    <span>{{ result.salary_range }}</span>
                </div>
                <div>
                    <span class="ml-2"><i class="fas fa-map-marker-alt"></i></span>
                    <span>{{ result.location }}</span>
                </div>
                <div>
                    <span class="ml-2"><i class="fas fa-laptop-house"></i></span>
                    <span>{{ result.work_mode|capfirst }}</span>
                </div>
                
            </article>
            <article class="mt-2">
                <p class="">{{ result.description|truncatechars:100 }}</p>
                <div class="skills mt-2 d-flex gap-2 flex-wrap">
                    {% for skill in result.job_related_skills.all %}
                    <p class="text-secondary">{{ skill.name }} .</p>
                    {% endfor %}
                </div>
            </article>
        </a>
    </div>  
        {% empty %}
            <p class="text-center">No jobs found matching your search.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
    const filterOpen = document.querySelector('#filter-open')
    const filterClose = document.querySelector('.filter-close')
    const filterSidebar = document.querySelector('.filter-sidebar')
    const workModeForm = document.querySelector('#workModeSubmit')
    const roleForm = document.querySelector('#roleSubmit')
    const experienceForm = document.querySelector('#experienceSubmit')
    const freshnessForm = document.querySelector('#freshnessSubmit')

    filterOpen.addEventListener('click', function () {
        filterSidebar.classList.add('show')
        console.log('click')
    })

    filterClose.addEventListener('click', function () {
        filterSidebar.classList.remove('show')
    })

    workModeForm.addEventListener('change',function(){
        workModeForm.submit()
    })

    roleForm.addEventListener('click',function(){
        roleForm.submit()
    })
    
    experienceForm.addEventListener('change',function(){
        experienceForm.submit()
    })
    
    freshnessForm.addEventListener('change',function(){
        freshnessForm.submit()
    })

    document.getElementById('experienceRange').addEventListener('input', function() {
    document.getElementById('experienceValue').textContent = this.value;
});

</script>
{% endblock %}