{% extends 'jobs/main.html' %}

{% block content %}
<main>
    <div class="filter-sidebar mt-2">
        <aside class="filter-container">
            <div class="filter-close">
                <i class="fas fa-times"></i>
            </div>
            <header class="filter-sidebar-header">
                <h3 class="filter-sidebar-text">All Filters</h3>
            </header>
            <article class="workmode">
                <p class="fs-4 mt-3 fw-bold">Work Mode</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Work Mode</option>
                    <option value="wfo">Work from office</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="remote">Remote</option>
                </select>
            </article>
            <article class="salary">
                <p class="fs-4 fw-bold mt-2">Salary</p>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="0-3" id="salaryRange1">
                    <label class="form-check-label" for="defaultCheck1">0-3 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="3-6" id="salaryRange2">
                    <label class="form-check-label" for="salaryRange2">3-6 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="6-10" id="salaryRange3">
                    <label class="form-check-label" for="salaryRange3">6-10 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="10-15" id="salaryRange4">
                    <label class="form-check-label" for="salaryRange4">10-15 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="15-20" id="salaryRange5">
                    <label class="form-check-label" for="salaryRange5">15-20 Lakhs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="salary_range" type="checkbox" value="20+" id="salaryRange6">
                    <label class="form-check-label" for="salaryRange6">20+ Lakhs</label>
                </div>

            </article>
            <article class="location">
                <p class="fs-4 fw-bold mt-2">Location</p>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="chennai" id="location1">
                    <label class="form-check-label" for="location1">Chennai</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="bengaluru" id="location2">
                    <label class="form-check-label" for="location2">Bengaluru</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="coimbatore" id="location3">
                    <label class="form-check-label" for="location3">Coimbatore</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="madurai" id="location4">
                    <label class="form-check-label" for="location4">Madurai</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="delhi" id="location5">
                    <label class="form-check-label" for="location5">Delhi</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="location" type="checkbox" value="hyderabad" id="location6">
                    <label class="form-check-label" for="location6">Delhi</label>
                </div>
            </article>
            <article class="role">
                <p class="fs-4 fw-bold mt-2">Role</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="software_development" name="role" id="role1">
                    <label class="form-check-label" for="role1">Software Development</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="qa_testing" name="role" id="role2">
                    <label class="form-check-label" for="role2">Quality assurance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="devops" name="role" id="role3">
                    <label class="form-check-label" for="role3">Devops</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="ml" name="role" id="role4">
                    <label class="form-check-label" for="role4">Machine Learning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="business_developer" name="role" id="role5">
                    <label class="form-check-label" for="role5">Business Development</label>
                </div>
            </article>
            <article class="experience">
                <p class="fs-4 mt-2 fw-bold">Experience</p>
                <div class="form-group">
                    <input type="range" class="form-range" id="experienceRange" min="0" max="20" step="1" value="5">
                    <div class="d-flex justify-content-between">
                        <span>0</span>
                        <span>20</span>
                    </div>
                    <p class="mt-2">Experience: <span id="experienceValue">5</span> years</p>
                </div>
            </article>
            <article class="freshness pb-5">
                <p class="fs-4 mt-2 fw-bold">Freshness</p>
                <div class="form-group">
                    <label for="timeRange" class="form-label">Select Time Range</label>
                    <select class="form-select" id="timeRange" name="time_range">
                        <option value="0">freshness</option>
                        <option value="1">Last 1 Day</option>
                        <option value="3">Last 3 Days</option>
                        <option value="7">Last 7 Days</option>
                        <option value="15">Last 15 Days</option>
                        <option value="30">Last 30 Days</option>
                    </select>
                </div>
            </article>
            <footer>
                <button class="btn btn-warning">Clear</button>
            </footer>
        </aside>
    </div>

    <div class="filter-nav-btn mt-4 d-flex gap-2 flex-wrap 
    {% if user.user_type == 'Recruiter' %}
        justify-content-center align-items-center
    {% else %}
        justify-content-end
    {% endif %}">
        <button class="btn btn-primary" id="filter-open">
            <i class="fas fa-filter"></i>
        </button>
      {% if user.user_type == 'Recruiter' %}  
        <a href="{% url 'create_job' %}">
            <button class="btn btn-primary">Create Job</button>
        </a>
        <a href="{% url 'create_employee' %}">
            <button class="btn btn-primary">Create/update Employer</button>
        </a> 
       {% endif %} 
    </div>

    <div class="search-container mt-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🔍</span>
            <input type="text" class="form-control" placeholder="Enter skills/title/location" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="job-container mt-3 mb-3">
        {% for result in data %}
      <div class="m-2 card p-3">  
        <a href="{% url 'job_details' id=result.id %}" class="text-decoration-none text-dark">
            <header class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="fw-bold fs-3">{{ result.employer.company_name }}</h3>
                    <p class="fs-5">{{ result.title }}</p>
                </div>
                <img src="{{ result.employer.company_logo.url }}" alt="{{ employer.company_name }}"
                    class="company-logo" />
            </header>
            <article class="d-flex gap-4 flex-wrap">
                <div>
                    <span class="ml-2"><i class="fas fa-suitcase"></i></span>
                    <span>{{ result.experience }} yrs</span>
                </div>
                <div>
                    <span class="ml-2"><i class="fas fa-rupee-sign"></i></span>
                    <span>{{ result.salary_range }}</span>
                </div>
                <div>
                    <span class="ml-2"><i class="fas fa-map-marker-alt"></i></span>
                    <span>{{ result.location }}</span>
                </div>
            </article>
            <article class="mt-2">
                <p class="">{{ result.description|truncatechars:100 }}</p>
                <div class="skills mt-2 d-flex gap-2 flex-wrap">
                    {% for skill in result.skills_required.all %}
                    <p class="text-secondary">{{ skill.name }} .</p>
                    {% endfor %}
                </div>
            </article>
        </a>
    </div>  
        {% endfor %}
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
    const filterOpen = document.querySelector('#filter-open')
    const filterClose = document.querySelector('.filter-close')
    const filterSidebar = document.querySelector('.filter-sidebar')

    filterOpen.addEventListener('click', function () {
        filterSidebar.classList.add('show')
        console.log('click')
    })

    filterClose.addEventListener('click', function () {
        filterSidebar.classList.remove('show')
    })
</script>
{% endblock %}