{% extends 'jobs/main.html' %}
{% load custom_filters %}

{% block content %}
<main class="mt-5">
  <a href="{% url 'dashboard' %}" class="text-decoration-none">  
    <button class="btn btn-warning text-white"><i class="fas fa-backward"></i> Back</button>
</a> 
    <section class="job-container card p-4 mt-3">
        <header class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="fw-bold fs-3">{{ job.employer.company_name }}</h3>
                <p class="fs-5">{{ job.title }}</p>
            </div>
            <img src="{{ job.employer.company_logo.url }}" alt="{{ employer.company_name }}" class="company-logo" />
        </header>
        <article class="d-flex gap-4 flex-wrap">
            <div>
                <span class="ml-2"><i class="fas fa-suitcase"></i></span>
                <span>{{ job.experience }} yrs</span>
            </div>
            <div>
                <span class="ml-2"><i class="fas fa-rupee-sign"></i></span>
                <span>{{ job.salary_range }}</span>
            </div>
            <div>
                <span class="ml-2"><i class="fas fa-map-marker-alt"></i></span>
                <span>{{ job.location }}</span>
            </div>
        </article>
        <hr />
        <article class="d-flex gap-2 flex-wrap">
            <div>
                <span class="fw-bold ml-2">Posted:</span>
                <span>
                   {{ job.posted_time|timesince_without_hrs }} ago
                </span>
            </div>
            <div>
                <span class="fw-bold ml-2">Openings:</span>
                <span>{{ job.number_of_openings }}</span>
            </div>
            
        </article>
    </section>

    <section class="job-content mt-3 pb-5">
        <div class="card p-4">
            <article class="description">
                <h3 class="fw-bold">Job Description</h3>
                <p class="mt-3">{{ job.description }}</p>
                <ul class="list-group">
                    <li class="list-group-item"><span class="fw-bold">Role: </span>{{ job.role }}</li>
                    <li class="list-group-item"><span class="fw-bold">WorkMode: </span>{{ job.work_mode }}</li>
                    <li class="list-group-item"><span class="fw-bold">Benefits: </span>{{ job.benefits|default:"Not Available" }}</li>
                    <li class="list-group-item"><span class="fw-bold">Application-Deadline: </span>{{ job.application_deadline }}</li>
                    <li class="list-group-item"><span class="fw-bold">Category: </span>{{ job.job_category }}</li>
                    <li class="list-group-item"><span class="fw-bold">Job Status: </span>{{ job.status }}</li>
                </ul>
            </article>
            <article>
               <h3 class="fw-bold mt-4">Skills</h3>
                   <ul class="skills list-group d-flex flex-row flex-wrap">
                        {% for skill in job.job_related_skills.all %}
                            <li class="list-group-item m-2"><i class="fas fa-star"></i> {{ skill }}</li>
                        {% endfor %}
                    </ul>
            </article>
            <article class="company-desc mt-4">
                <h3 class="fw-bold">About Us</h3>
                <p class="mt-3">{{ job.employer.company_description }}</p>
            </article>
            <article class="employer-details">
                <ul class="list-group">
                    <li class="list-group-item mb-2"><span class="fw-bold">Employer Email:</span> {{job.employer.employer_email }}</li>
                    <li class="list-group-item mb-2"><span class="fw-bold">Employer Contact:</span> {{job.employer.employer_contact }}</li>
                    <li class="list-group-item mb-2">
                        <span class="fw-bold">LinkedIn Url:</span> <a
                            href="{{ job.employer.linkedin_url }}">{{ job.employer.linkedin_url }}</a>
                    </li>
                    <li class="list-group-item mb-2"><span class="fw-bold">Company Established Date:</span> {{job.employer.company_start_date }}</li>
                    <li class="list-group-item mb-2"><span class="fw-bold">Company Size:</span> {{job.employer.company_size }}</li>
                    <li class="list-group-item mb-2"><span class="fw-bold">Company Location:</span> {{job.employer.company_location }}</li>
                    <li class="list-group-item mb-2"><span class="fw-bold">Company Website:</span> {{job.employer.company_website }}</li>
                </ul>
            </article>
        </div>
    </section>
</main>

{% endblock %}