{% extends 'jobs/main.html' %}

{% block content %}
<main class="job-form">
    <h1 class="mt-3 m-2 fs-2 text-center">
        Job Applications
    </h1>

    <div class="table-responsive">
        <table class="table table-bordered shadow mt-2">
            <thead>
                <tr>
                    <th class="text-nowrap">Applicant</th>
                    <th class="text-nowrap" colspan="3">Company Details</th>
                    <th class="text-nowrap" colspan="2">Employer Details</th>
                    <th class="text-nowrap w-full" colspan="9">Profile Details</th>
                </tr>
                <tr>
                    <th class="text-nowrap"></th>
                    <th class="text-nowrap">Company Name</th>
                    <th class="text-nowrap">Company Location</th>
                    <th class="text-nowrap">Job Title</th>
                    <th class="text-nowrap">Employer Email</th>
                    <th class="text-nowrap">Employer Contact</th>
                    <th class="text-nowrap">Name</th>
                    <th class="text-nowrap">Email</th>
                    <th class="text-nowrap">Education</th>
                    <th class="text-nowrap">CGPA</th>
                    <th class="text-nowrap">Experience</th>
                    <th class="text-nowrap">Location</th>
                    <th class="text-nowrap">Resume</th>
                    <th class="text-nowrap">Skills</th>
                    <th class="text-nowrap">Applied On</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td class="text-nowrap">
                        {% if application.profile.image %}
                            <img src="{{ application.profile.image.url }}" alt="profile-image" class="profile-img" />
                        {% else %}
                            <img src="../../../media/default.jpg" alt="profile-image" class="profile-img" />
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ application.job.employer.company_name }}</td>
                    <td class="text-nowrap">{{ application.job.location }}</td>
                    <td class="text-nowrap">{{ application.job.title }}</td>
                    <td class="text-nowrap">{{ application.job.employer.employer_email }}</td>
                    <td class="text-nowrap">{{ application.job.employer.employer_contact }}</td>
                    <td class="text-nowrap">{{ application.profile.user.username }}</td>
                    <td class="text-nowrap">{{ application.profile.user.email }}</td>
                    <td class="text-nowrap">{{ application.profile.education }}</td>
                    <td class="text-nowrap">{{ application.profile.cgpa }}</td>
                    <td class="text-nowrap">{{ application.profile.work_experience }}</td>
                    <td class="text-nowrap">{{ application.profile.location }}</td>
                    <td class="text-nowrap">
                        <a href="{{ application.profile.resume.url }}" download="{{ application.profile.resume.name }}">Download Resume</a>
                    </td>
                    <td class="text-nowrap">
                        {% for skill in application.profile.skills.all %}
                            <span>{{ skill }} |</span>
                        {% empty %}
                            <p>No Skills Available</p>
                        {% endfor %}
                    </td>
                    <td class="text-nowrap">{{ application.applied_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
