{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %} JobSphere | {{ title }} {% else %} JobSphere {% endif %}</title>

  {% bootstrap_css %}

  <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/styles.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg nav-border">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JobSphere</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>

      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center gap-3 md:d-flex md:align-items-center gap-2">
          <li class="nav-item">
            <button class="btn btn-dark text-white">
              <a href="{% url 'job_home' %}" class="text-decoration-none text-white">Home</a>
            </button>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="POST" id="logoutForm">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark text-white">
                Logout
              </button>
            </form>
          </li>
          <li class="nav-item">
            {% if user.user_type == 'Applicant' %}
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
              <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-img">
            </a>
            {% else %}
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
              <img src="{{ user.employer.employer_image.url }}" alt="{{ user.username }}" class="profile-img">
            </a>
            {% endif %}
          </li>
          {% else %}
          <li class="nav-item">
            <button class="btn btn-dark text-white">
              <a href="{% url 'login' %}" class="text-decoration-none text-white">Login</a>
            </button>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">
            {% if user.user_type == 'Applicant' %} Profile Information {% else %} Employee Information {% endif %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% if user.user_type == 'Applicant' %}
          {% include 'jobs/applicant_profile.html' %}
          {% else %}
          {% include 'jobs/employer_profile.html' %}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">
            <a href="{% if user.user_type == 'Applicant' %} {% url 'profile' %} {% else %} {% url 'create_employee' %} {% endif %}"
              class="text-decoration-none text-white">{% if user.user_type == 'Applicant' %} Edit Profile {% else %}
              Edit Employer {% endif %}</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% if messages %}
    <div class="alert-container d-flex justify-content-center align-items-center">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} message">
        {{ message }}
      </div>
      {% endfor %}
    </div>

    {% endif %}
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </div>
  {% bootstrap_javascript %}

  {% block scripts %}{% endblock %}

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        const messages = document.querySelectorAll('.message');
        messages.forEach(msg => {
          msg.style.opacity = 0;
        });
      }, 2000);

      const logoutForm = document.getElementById('logoutForm');
      if (logoutForm) {
        logoutForm.addEventListener('submit', async (e) => {
          e.preventDefault(); 

          const CSRFToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

          try {
            const response = await fetch('/users/api/logout-api/', {
              method: "POST",
              credentials: 'same-origin',
              headers: {
                'X-CSRFToken': CSRFToken
              }
            });

            const responseData = await response.json();
            console.log(responseData);

            if (response.ok && responseData.message === 'Logged out successfully') {
              window.location.href = '/users/login/'; 
            } else {
              console.error('Logout failed', responseData);
            }
          } catch (error) {
            console.error('Error during logout:', error);
          }
        });
      }
    });

  </script>

</body>

</html>