{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>JobSphere | {{ title }}</title>
  {% else %}
  <title>JobSphere</title>
  {% endif %}

  {% bootstrap_css %}

  <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/styles.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>
  <nav class="navbar navbar-expand-lg nav-border">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JobSphere</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center gap-3 md:d-flex md:align-items-center gap-2">
          <li class="nav-item">
            <button class="btn btn-dark text-white">
              <a href="{% url 'job_home' %}" class="text-decoration-none text-white">Home</a>
            </button>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark text-white">
                Logout
              </button>
            </form>
          </li>
          <li class="nav-item">
           {% if user.user_type == 'Applicant' %} 
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
              <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-img">
            </a>
           {% else %}
           <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
            <img src="{{ user.employer.employer_image.url }}" alt="{{ user.username }}" class="profile-img">
          </a>
          {% endif %}
          </li>
          {% else %}
          <li class="nav-item">
            <button class="btn btn-dark text-white">
              <a href="{% url 'login' %}" class="text-decoration-none text-white">Login</a>
            </button>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">
            {% if user.user_type == 'Applicant' %} Profile Information {% else %} Employee Information {% endif %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {% if user.user_type == 'Applicant' %}  
          <div class="profile-details ">
            <div class="d-flex align-items-center gap-2">
              <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-img">
              <div class="profile-content">
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
              </div>
            </div>
            <p class="bio mt-2"><span class="fw-bold">Summary:</span> {{ user.profile.bio }}</p>
            <p class="education mt-2"><span class="fw-bold">Education:</span> {{ user.profile.education }}</p>
            <p class="cgpa mt-2"><span class="fw-bold">CGPA:</span> {{ user.profile.cgpa }}</p>
            <p class="exp mt-2"><span class="fw-bold">Work-Experience:</span> {{ user.profile.work_experience }}</p>
            <p class="loc mt-2"><span class="fw-bold">Location:</span> {{ user.profile.location }}</p>
            {% if user.profile.resume %}
            <span class="fw-bold">Resume:</span>
            <a href="{{ user.profile.resume.url }}" download="{{ user.profile.resume.name }}">Download Resume</a>
            {% else %}
            <p>No resume available</p>
            {% endif %}

            {% if user.profile.skills.all %}
            <p class="fw-bold mt-2">Skills: </p>
            <ul>
              {% for skill in user.profile.skills.all %}
              <li>{{ skill.name }}</li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="mt-2"><span class="fw-bold">Skills: </span> No skills available</p>
            {% endif %}

            {% if user.profile.certification.all %}
            <span class="fw-bold mt-2">Certifications: </span>
            <ul class="mt-2">
              {% for cert in user.profile.certification.all %}
              <li>
                <p class="fs-4 mt-2">CertificationName: {{ cert.name|upper }}</p>
                <div>
                  {% if cert.cert_image %}
                  <img src="{{ cert.cert_image.url }}" class="img-fluid cert-img" />
                  {% else %}
                  <p>No Image available for this certification</p>
                  {% endif %}
                </div>

              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="mt-2"><span class="fw-bold">Certifications: </span> No Certification available</p>
            {% endif %}
          </div>
        {% else %}
        <div class="employee-details ">
          <div class="d-flex align-items-center gap-2">
            {% if user.employer.company_logo %}
                <img src="{{ user.employer.company_logo.url }}" alt="{{ user.employer.company_name }}" class="user-img rounded" />
            {% else %}
                <img src="../../../media/default_logo.png" alt="{{ user.employer.company_name }}" class="user-img rounded" />
            {% endif %}
            <div class="profile-content">
              <p>{{ user.username }}</p>
              <p>{% if user.employer.employer_email %} {{ user.employer.employer_email }} {% else %} Please update your email {% endif %}</p>
            </div>
          </div>
          <p class="company-name mt-2"><span class="fw-bold">Company Name:</span> {% if user.employer.company_name %} {{ user.employer.company_name }} {% else %} Please update company name {% endif %}</p>
          <p class="company-website mt-2"><span class="fw-bold">Company Website:</span> {% if user.employer.company_website %} {{ user.employer.company_website }} {% else %} Please update company webiste {% endif %}</p>
          <p class="company-location mt-2"><span class="fw-bold">Company Location:</span> {% if user.employer.company_location %} {{ user.employer.company_location }} {% else %} Please update company location {% endif %}</p>
          <p class="contact mt-2"><span class="fw-bold">Recruiter Contact:</span> {% if user.employer.employer_contact %} {{ user.employer.employer_contact }} {% else %} Please update your contact number {% endif %}</p>
          <p class="est-date mt-2"><span class="fw-bold">Established Date:</span> {% if user.employer.company_start_date %} {{ user.employer.company_start_date }} {% else %} Please update company start date {% endif %}</p>
          <p class="linkedin mt-2"><span class="fw-bold">Linkedin:</span> {% if user.employer.linked_url %} {{ user.employer.linkedin_url }} {% else %} Please update company linkedin_url {% endif %}</p>
          <p class="desc mt-2"><span class="fw-bold">About us:</span> {% if user.employer.company_description %} {{ user.employer.company_description }} {% else %} Please update about company info {% endif %}</p>
          <p class="cmps-size mt-2"><span class="fw-bold">Company Size:</span>{% if user.employer.company_size %} {{ user.employer.company_size }} {% else %} Please update company size {% endif %}</p>
          <p class="hiring mt-2"><span class="fw-bold">Is-Hiring:</span> 
              {% if user.employer.is_hiring %}
                Yes
              {% else %}
                  No 
              {% endif %}
          </p>
          

          
        </div>
        {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">
            {% if user.user_type == 'Applicant' %}
            <a href="{% url 'profile' %}" class="text-decoration-none text-white">Edit Profile</a>
            {% else %}
            <a href="{% url 'create_employee' %}" class="text-decoration-none text-white">Edit Employer</a>
            {% endif %}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} message">
        {{ message }}
      </div>
      {% endfor %}
    </div>

    {% endif %}
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </div>
  {% bootstrap_javascript %}

  {% block scripts %}
  <script src="{% static 'jobs/js/main.js' %}"></script>
  {% endblock %}

</body>

</html>